+++
title = "Goldydocs"
linkTitle = "Goldydocs"

+++

{{< blocks/cover title="人生の折り返し地点で、会社を設立するということ" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<p class="lead mt-3">家庭（プライベート）、仕事、お金のバランスを考える</p>
	<p class="lead mt-3">ご近所、地域、ふるさとを考えた活動</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">お知らせ</h1>
</div>

{{< /blocks/section >}}


{{< blocks/section >}}

{{% blocks/feature icon="fas fa-server" title="Web" %}}
ウェブサイト、サーバ構築・運用・メンテナンス<br>
2～10人規模の案件見積もり、取りまとめ<br>
開発業務の改善・自動化・効率化
{{% /blocks/feature %}}

{{% blocks/feature icon="far fa-edit" title="Design" %}}
チラシ、パンフレット、パッケージ商品<br>
WEBのデザイン・メインビジュアルの作成
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-shopping-cart" title="Shop" %}}
中古販売（事務機器、玩具等）<br>
小口輸入による販売（ベビー食器、抱っこひも）{{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
