.row.feature {
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
}

.row.news h2 {
  margin-bottom: 5%;
}

.news ul li .description {
  padding-left: 1.5%;
}

.list-group-item--extend {
  background-color: unset;
  border: unset;
}

.row.blog.feature {
  max-width: 1100px;
}

.row.about-us h2 {
  margin-bottom: 8%;
}

.table--extend table {
  width: 100%;
  table-layout: auto;
}

.table--extend thead {
  display: none;
}

.table--extend tbody {
  max-width: 800px;
}

.table--extend tbody tr td {
  border-bottom: 1px solid #dee2e6;
  padding: 4%;
}
