{{ define "main" }}
{{ with .Content }}
{{ . }}
{{ end }}
{{ end }}

{{ define "news" }}
{{ $type   := "news" }}
<a id="td-block-5" class="td-offset-anchor"></a>
<section class="row td-box td-box--5 td-box--gradient td-box--height-auto">
	<div class="col">
		<div class="row {{ $type }}">
			<div class="col-12">
				<h2 class="text-center">News</h2>
				<ul class="list-unstyled">
					{{ range where .Paginator.Pages "Type" "news" }}
			 		<li title="User mailing list">
						{{ dateFormat "2006/01/02" .Date }} {{ if .Draft }}<sup class="draft-label">DRAFT</sup>{{ end }}
						<span class="description">
							{{ if isset .Params "description" }}
								{{ .Description }}
							{{ else if gt (len .RawContent) 120 }}
								{{ slicestr .RawContent 0 120 }}...
							{{ else }}
								{{ .RawContent }}
							{{ end }}<br>
							<a href="{{ .RelPermalink }}">Read more …</a>
						</span>
					</li>
      		{{ end }}
				</ul>
			</div>
		</div>
	</div>
</section>
{{ end }}

{{ define "works" }}
{{ $type   := "works" }}
<a id="td-block-6" class="td-offset-anchor"></a>
<section class="row td-box td-box--6 td-box--gradient td-box--height-auto">
	<div class="col">
		<div class="row {{ $type }}">
			{{ range where .Paginator.Pages "Type" "works" }}
				{{ partial "feature.html" . }}
    	{{ end }}
		</div>
	</div>
</section>
{{ end }}

{{ define "about-us" }}
{{ end }}
