{{ define "main" }}
{{ with .Content }}
{{ . }}
{{ end }}
{{ end }}

{{ define "news" -}}
{{ $height := "auto"  }}
{{ $type   := "news" }}
<a id="td-block-5" class="td-offset-anchor"></a>
<section class="row td-box td-box--5 td-box--gradient td-box--height-{{ $height }}">
	<div class="col">
		<div class="row {{ $type }}">
			<div class="col-12">
				<h2 class="text-center">News</h2>
				<ul class="list-unstyled">
					{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
		      {{ $paginator := .Paginate (where $pages "Section" "news") }}
		      {{ range $paginator.Pages }}
			 		<li title="User mailing list">
						{{ dateFormat "2006/01/02" .Date }} {{ if .Draft }}<sup class="draft-label">DRAFT</sup>{{ end }}
						<span class="description">
							{{ if isset .Params "description" }}
								{{ .Description }}
							{{ else if gt (len .RawContent) 120 }}
								{{ slicestr .RawContent 0 120 }}...
							{{ else }}
								{{ .RawContent }}
							{{ end }}<br>
							<a href="{{ .RelPermalink }}">Read more …</a>
						</span>
					</li>
      		{{ end }}
				</ul>
			</div>
		</div>
	</div>
</section>
{{- end }}

{{ define "works" -}}
{{ $height := "auto"  }}
{{ $type   := "works" }}
<a id="td-block-6" class="td-offset-anchor"></a>
<section class="row td-box td-box--6 td-box--gradient td-box--height-{{ $height }}">
	<div class="col">
		<div class="row {{ $type }}">
			<div class="col-12">
		      {{ $paginator := .Paginate (where $.Site.RegularPages "Section" "works") }}
		      {{ range $paginator.Pages }}
						{{ partial "feature.html" . }}
      		{{ end }}
			</div>
		</div>
	</div>
</section>
{{- end }}
