{{ "<!-- About Section -->" | safeHTML }}
<section class="success" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.blog.title }}{{.}}{{ end }}</h2>
                <hr class="star-light">
            </div>
        </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
            <p class="text-center"><a href="{{ with .Site.Params.blog.leftlink }}{{.}}{{ end }}" target="_blank"><img class="left" src="{{ with .Site.Params.blog.leftimg }}{{.}}{{ end }}" alt="菊池大地"></a></p>
        </div>
            <div class="col-lg-4">
                <p class="text-center"><a href="{{ with .Site.Params.blog.rightlink }}{{.}}{{ end }}" target="_blank"><img class="right" src="{{ with .Site.Params.blog.rightimg }}{{.}}{{ end }}" alt="菊池幸子"></a></p>
            </div>
        </div>
    </div>
</section>
