{{ "<!-- About Section -->" | safeHTML }}
<section id="concept">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.concept.title }}{{.}}{{ end }}</h2>
                <hr class="star-primary">
            </div>
        </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <p>{{ with .Site.Params.concept.left }}{{ . | markdownify }}{{ end }}</p>
            <p>{{ with .Site.Params.concept.right }}{{ . | markdownify }}{{ end }}</p>
        </div>
        </div>
    </div>
</section>
